<div class="col col-6 login--s">
  <div class="title"><span class="text">Signup paaji</span></div>
  <div class="login--body">
    <label>
      <div class="label" id="username">Username</div>
      <input
        [(ngModel)]="username"
        type="text"
        placeholder="Write your username"
        required
      />
    </label>
    <label>
      <div class="label" id="email">Email address</div>
      <input
        [(ngModel)]="email"
        type="text"
        placeholder="Write your email"
        required
      />
    </label>
    <label>
      <div class="label" id="password">Password</div>
      <input
        [(ngModel)]="password"
        type="password"
        placeholder="Write your password"
        required
      />
    </label>
    <label>
      <div class="label" id="confirmPassword">Confirm password</div>
      <input
        [(ngModel)]="confirmPassword"
        type="password"
        placeholder="Re-write your password"
        required
      />
    </label>
    <div class="sbmt">
      <button class="sbmt--btn" (click)="signUp()">Signup</button>
    </div>
  </div>
</div>
